NewWSDLFile.wsdl

<!--  Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matematica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matematica/" name="CalculadoraService">
<types>
<xsd:schema>
<xsd:import namespace="http://matematica/" schemaLocation="http://localhost:8080/Calculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="sumarWS">
<part name="parameters" element="tns:sumarWS"/>
</message>
<message name="sumarWSResponse">
<part name="parameters" element="tns:sumarWSResponse"/>
</message>
<message name="multiplicarWS">
<part name="parameters" element="tns:multiplicarWS"/>
</message>
<message name="multiplicarWSResponse">
<part name="parameters" element="tns:multiplicarWSResponse"/>
</message>
<message name="restarWS">
<part name="parameters" element="tns:restarWS"/>
</message>
<message name="restarWSResponse">
<part name="parameters" element="tns:restarWSResponse"/>
</message>
<message name="dividirWS">
<part name="parameters" element="tns:dividirWS"/>
</message>
<message name="dividirWSResponse">
<part name="parameters" element="tns:dividirWSResponse"/>
</message>
<portType name="Calculadora">
<operation name="sumarWS">
<input wsam:Action="http://matematica/Calculadora/sumarWSRequest" message="tns:sumarWS"/>
<output wsam:Action="http://matematica/Calculadora/sumarWSResponse" message="tns:sumarWSResponse"/>
</operation>
<operation name="multiplicarWS">
<input wsam:Action="http://matematica/Calculadora/multiplicarWSRequest" message="tns:multiplicarWS"/>
<output wsam:Action="http://matematica/Calculadora/multiplicarWSResponse" message="tns:multiplicarWSResponse"/>
</operation>
<operation name="restarWS">
<input wsam:Action="http://matematica/Calculadora/restarWSRequest" message="tns:restarWS"/>
<output wsam:Action="http://matematica/Calculadora/restarWSResponse" message="tns:restarWSResponse"/>
</operation>
<operation name="dividirWS">
<input wsam:Action="http://matematica/Calculadora/dividirWSRequest" message="tns:dividirWS"/>
<output wsam:Action="http://matematica/Calculadora/dividirWSResponse" message="tns:dividirWSResponse"/>
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumarWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicarWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restarWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividirWS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraService">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8080/Calculadora"/>
</port>
</service>
</definitions>
